template/documenti/main.aux
template/documenti/main.fdb_latexmk
template/documenti/main.fls
template/documenti/main.log
template/documenti/main.out
template/documenti/main.pdf
template/documenti/main.synctex.gz
template/documenti/main.toc
template/documenti/sezioni/cap1.aux
template/documenti/sezioni/introduzione.aux
template/documenti/sezioni/registro_modifiche.aux
template/verbali/main.aux
template/verbali/main.log
template/verbali/main.out
template/verbali/main.pdf
template/verbali/main.synctex.gz
template/verbali/main.toc
template/verbali/sezioni/contenuto.aux
template/verbali/sezioni/registro_modifiche.aux
